body{
    display: flex;
    /* font-size: 3vw; */
    background-color: rgb(12, 11, 44);
}
.fixedMenu, .content{
    font-size: auto;
    padding: 8px;
}
.fixedMenu{
    background-color: #2d2653;
    color: white;
    width: 18%;
    height: 95vh;
    position: fixed;
}
.content{
    margin-left: 25%;
    width: 73%;
    color: white;
    background: #34364b;
}

.menu{
    display: flex;
    padding: 5px;
    margin-top: 22px;
    cursor: pointer;
}
.menu img{
    height: 24px;
    width: 24px;
}
.menuName{
    margin-left: 10px;
}
.current{
    background-color: rgb(150, 133, 133);
    color: #2d2653;
    border-radius: 2px;
}

@media only screen and (max-width: 597px) {
    body{
        font-size: 2.5vw;
    }
    .menu img{
        height: 18px;
        width: 18px;
    }
    .realData{
        text-align: center;
    }
}

/* content part */
.countItem{
    border-radius: 2px;
    padding: 8px;
    width: 92%;
    margin: 8px;
    text-align: center;
    background-color: rgb(57, 76, 110);
}
.count{
    font-size: 18px;
    font-weight: bold;
}
.name{
    font-size: 14px;
    color: rgb(223, 206, 206);
}

/* Dashboard - processing Overview */
.orderOverview, .c{
    border: white 1px solid;
}
.pie, .realData{
    padding: 8px;
}
h2{
    text-align: center;
}
.pie{
    width: 70%;
}
.orderOverview{
    height: 400px;
}
.item{
    padding: 8px;
}
.c{
    width: 40px;
    height: 15px;
}
.piechartColorItem, .piechartColor, .flex{
    display: flex;
    padding: 2px;
}
.flex{
    place-content: space-between;
}
.piechart {
    margin-left: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(
        green 0 70deg,
        blue 0 140deg,
        yellow 0 210deg,
        red 0 280deg,
        purple 0 350deg);
}

@media only screen and (max-width: 588px) {
    .flex{
        display: block;
    }
    .orderOverview{
        height: 520px;
    }
    .pie{
        display: block;
        width: 100%;
    }
}