.contentBody{
    border: black 1px solid;
}
.contentMenu ul{
    display: flex;
    place-content: space-between;
    align-items: center;
    padding: 0;
}
.contentMenu li{
    height: 60px;
    width: 33%;
    margin: 1px;
    text-align: center;
    list-style-type: none;
}
.contentMenu li a{
    background-color: white;
    height: 80%;
    padding-top: 15px;
    color: rgb(85, 116, 145);
    display: block;
}
.contentMenu li a:hover{
    border-bottom: 5px rgb(223, 143, 143) solid;
}
.currentContactsAndSupport{
    font-weight: bold;
    border-bottom: 5px rgb(223, 143, 143) solid;
}


/* content body */
.contentItem{
    display: flex;
    place-content: space-between;
}
.Hidecontent{
    display: none;
}
.Unhidecontent{
    display: block;
}
.title{
    width: 92%;
    text-align: justify;
    text-justify: inter-word;
}
.heading{
    font-weight: bold;
    font-size: 30px;
}
.subheading{
    color: rgb(85, 143, 143);
    font-size: 15px;
}
.contentBody .icon{
    padding: 6px;
    margin: auto;
}
.contentItem .icon{
    cursor: pointer;
}
.Description{
    border: black 1px solid;
}