body{
    background: #F2F2F2;
    margin: 0;
    padding: 1em 1em 5em 1em; 
    font-size: 20px;
}
a{
    text-decoration: none;
}
.content .container{
    border: 1px solid black;
}

nav{
    display: none;
}
.mobile-menu, .mobile-menu-exit{
    cursor: pointer;
    margin-right: .5em;
}
.navbar .container{
    display: flex;
    place-content: space-between;
}
.navbar{
    background-color: white;
}

nav{
    position: fixed;
    width: 66%;
    background: black;
    color: white;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 1em;
}
nav .primary-nav{
    margin-top: 2.5em;
}
nav li a{
    display: block;
    font-size: 1.4em;
    padding: .5em;
    color: white;
    text-align: right;
}
nav li a:hover{
    font-weight: bold;
}
nav ul{
    list-style-type: none; 
}
.mobile-menu-exit{
    float: right;
    margin-right: .5em;
}
.mobile-button{
    display: block;
}
.logo{
    margin: 1em 1em;
}
@media only screen and (min-width: 858px) {
    .mobile-menu, .mobile-menu-exit{
        display: none;
    }
    .navbar .container{
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }
    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }
    .navbar nav a{
        color: black;
        font-size: 1em;
        padding: .1em 1em;
    }
    .navbar nav ul{
        display: flex;
        padding: 0;
    }
    .navbar nav ul.primary-nav{
        margin: 1em;
    }
    .current{
        font-weight: bold;
    }
}




/*footer section*/
.footer{
    background: white;
}
.down-section{
    border-top: black 1px solid;
}
.footer ul{
    list-style-type: none; 
    border-radius: 25px;
    padding: 0;
}
.footer .container{
    margin: 0;
}
.footer{
    margin: 2px;
    padding: 2px;
}
.footer .up-section li{
    border-radius: 20px;
    border: 1px solid #73AD21;
    padding: 20px;
    margin: 5px;
    height: 80px;
}
.footermenu{
    font-weight: bold;
    margin: 0;
}
div{
    margin: 1px;
}
.footer a{
    color: rgba(73, 3, 3, 0.637);
}
.footer a:hover{
    font-weight: bold;
    color: black;
}
.footerlink, .down-section{
    font-size: 18px;
}
.down-section li{
    text-align: center;
    margin: 2px;
    color: rgba(73, 3, 3, 0.637);
}
@media only screen and (min-width: 600px) {
    /* need to responsive for (big device) not mobile */
    .footer .up-section ul{
        display: flex;  
        place-content: space-between;      
    }
    .footer .up-section li{
        height: 140px;     
        width: 33%;
    }
    .container, .footer .container{
        margin-left: 10%;
        margin-right: 10%;
    }
}